{{#d-modal-body id="imgflip"}}
  <div>
    <div class="top-text">
      <label for="top-text">{{i18n "imgflip.top-text"}}</label>
      {{text-field id="top-text" value=topText placeholderKey="imgflip.top-text-placeholder" }}
    </div>
  </div>
  <div class="imgflip-content">
    {{#if loading}}
      {{i18n "loading"}}
    {{else}}
      <div class="imgflip-box">
        {{#each memes as |result|}}
          {{imgflip-result content=result pickItem="pickItem" selectedMeme=selectedMeme}}
        {{/each}}
      </div>
    {{/if}}
  </div>
{{/d-modal-body}}
<div class="modal-footer">
  <div class="bottom-text">
    <label for="bottom-text">{{i18n "imgflip.bottom-text"}}</label>
    {{text-field id="bottom-text" value=bottomText placeholderKey="imgflip.bottom-text-placeholder" }}
  </div>
  <button class="btn btn-primary pull-right" {{action "apply"}}>{{i18n "imgflip.insert"}}</button>
</div>